* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: rgb(37, 53, 53);
  font-family: "Courier New", Courier, monospace;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .action {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      p {
        position: absolute;
        bottom: 5%;
        left: 5%;
        display: none;
        color: white;
      }

      &:hover {
        img {
          transition: 00.5s;
          width: 650px;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          // transition: width 0.5s;
        }
        p {
          position: absolute;
          bottom: 5%;
          left: 5%;
          display: block;
          color: white;
        }
      }
    }

    @media screen and (max-width: 480px) {
      .action:nth-child(5),
      .action:nth-child(6),
      .action:nth-child(4),
      .action:nth-child(2),
      .action:nth-child(7) {
        display: none;
      }
      .action:hover {
        img {
          width: 250px;
        }
      }
      // &{
      //     background-color: green;
      // }
      // &{
      //     height: 70%;
      //     width: 90%;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     overflow: hidden;

      //     .action{
      //         width: 50%;
      //         height: 100%;
      //         position: relative;

      //         img{
      //             width: 100%;
      //             height: 100%;
      //             object-fit: cover;
      //             cursor: pointer;
      //         }
      //         p{
      //             position: absolute;
      //             bottom: 5%;
      //             left: 5%;
      //             display: none;
      //             color: white;
      //         }

      //         &:hover{

      //             // width: 50%;
      //             // height: 50%;
      //             // img{
      //             //     width: 250px;
      //             //     height: 250px;
      //             // }
      //         }

      //     }
      // }
    }
  }
}
